---
---

@import "{{ site.theme }}";

.page-header {
  color: #fff;
  text-align: center;
  background-color: #1e6bb8;
  background-image: linear-gradient(120deg, #FFF200, #1e6bb8);
}
.main-content {
  h1 {
    color: #1e6bb8;
  }
}
